@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

html {
    background-color: rgb(222, 222, 222);
}

* {
    font-family: "Montserrat", sans-serif;
}

.imagemDeCapa {
    width: 100%;
}

.fotoPerfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.boxPerfil {
    display: flex;
    justify-content: center;
}

.imagensCabecalho div:first-child {
    position: static;
}

.imagensCabecalho div:last-child {
    position: static;
    margin-top: -115px;
    /* margin-left: 20px; */
}

.textosCabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tituloNome {
    margin-top: 20px;
    font-size: 60px;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

.boxSubtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtituloNome {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(150, 150, 150);
}

.subtituloNome2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

.cardsInformacaoSection {
    /* margin: 0px 50px 0px 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.cardsInformacao {
    margin-top: 50px;
    color: gray;
    background-color: white;
    width: 400px;
    /* height: 300px; */
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.cardsInformacao h4 {
    font-size: 30px;
    font-weight: bold;
}

.cardsInformacao p {
    margin-top: 20px;
}

footer {
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin-top: 25px;
    color: gray;
    font-weight: regular;
    font-size: 12px;
}

.buttonsSocial {
    width: 40px;
    height: 40px;
    margin: 0px 15px 0px 15px;
    filter: grayscale(1);
    color: aqua;
}

.buttonsSocial:hover {
    filter: grayscale(0);
}

.conjuntoBotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.pesquisaBotao {
    margin-left: 20px;
    /* display: flex;
  align-items: center;
  justify-content: center;
  align-self: center; */
    filter: grayscale(1);
}

.pesquisaBotao:hover {
    filter: grayscale(0);
}

.pesquisaBotao img {
    width: 40px;
    height: 40px;
}

.buttonCard {
    flex-grow: 2;
    text-decoration: none;
    color: gray;
    padding: 15px;
    border-radius: 5px;
    background-color: lightgrey;
}

.buttonCard:hover {
    color: rgb(60, 69, 70);
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: lightgray;
}

.secaoProjetosPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectPageCard {
    margin-top: 50px;
    color: gray;
    background-color: white;
    width: 90%;
    /* height: 300px; */
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.projectPageCard h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projectPageCard img {
    margin-top: 50px;
    width: inherit;
}

.downloadButton {
    margin-top: 50px;
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(35, 112, 175);
    color: whitesmoke;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.downloadButton:hover {
    background-color: rgb(35, 175, 35);
    font-weight: bold;
}


.boxBotaoVoltar {
    display: flex;
    width: 100%;
}

.botaoVoltar {
    text-decoration: none;
    background-color: rgb(35, 112, 175);
    padding: 10px;
    border-radius: 8px;
    color: white;
    transform: rotateY(180deg);
    margin-bottom: 20px;
}

.botaoVoltar:hover {
    color: white;
    background-color: rgb(44, 141, 221);
    font-weight: bold;
}



@media only screen and (max-width: 800px) {
    .imagemDeCapa {
        /* width: 165%;
        height: 100%;         */
        width: 100%;
        /* width of container */
        height: 150px;
        /* height of container */
        object-fit: cover;
    }

    .boxPerfil {
        margin: 0%;
    }

    .fotoPerfil {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 6px solid white;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }

    .imagensCabecalho div:first-child {
        position: static;
    }

    .imagensCabecalho div:last-child {
        /* position: static; */
        margin-top: -60px;
        /* margin-left: 20px; */
    }

    .textosCabecalho {
        scale: 0.8;
    }

    .cardsInformacaoSection {
        margin-left: 30px;
        margin-right: 30px;
    }

    .projectPageCard {
        width: 90%;
    }

    .tituloNome {
        font-size: 50px;
    }

    .subtituloNome {
        font-size: 26px;
    }

    .subtituloNome2 {
        font-size: 14px;
    }
}